* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    outline: 2px solid red;*/
}

/* header section is start */
header {
    width: 100%;
    height: 500px;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
/*    margin: 20px;*/
}

.navbar img {
    width: 50px;
    height: 40px;
/*    margin-left: 20px;*/
}

.navbar h1 {
/*    margin-left: 20px;*/

}

.nav {
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar button {
    width: 120px;
    height: 30px;
    background-color: #6d6dd7;
    border-radius: 10px;
    border: 2px solid rgb(185, 185, 192);
    color: white;
}

.perant {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.header_text {
    width: 60%;
}

.header_text h1 {
    margin-bottom: 30px;
}

.header_img {
    width: 50%;
    padding-left: 30px;
}

.header_img img {
    height: 300px;
}

.header_text button {
    width: 140px;
    height: 30px;
    border: 2px solid rgb(185, 185, 192);
    border-radius: 10px;
}

.button1 {
    background-color: #6d6dd7;
    color: white;

}

.button2 {
    color: #6d6dd7;
}

/* header section is end */
/* main section is start */
main {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}


.main_text h2 {
    color: #6d6dd7;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main_text p {
    font-size: 18px;
}

.main_card {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 20%;
    height: 100px;
    margin-top: 20px;
}

.card h4 {
    margin-top: 10px;
    font-size: 25px;
}

/* main section is end */
/* section one is start */
.section1 {
    width: 100%;
    height: 180vh;
    text-align: center;
}

.section1 h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #6d6dd7;
}

.sec1_contenra {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
/*    margin: 20px;*/
}

.sec1-crad {
    width: 20%;
    height: 200px;
}

.sec1-crad img {
    width: 100%;
}

.sec1-text {
    float: left;
    display: flex;
}

.sec1_logo i {
    color: #a8a8b1;
    margin: 5px
}

.sec1-crad p {
    color: #a8a8b1;

}

.sec1_logo {
    float: right;
    display: flex;
}

/* section one is end */
/* section two is start */
.section2{
    width: 100%;
    height: 150vh;
}
.section2 h3{
    text-align: center;
    margin-bottom: 20px;
}
.sec2_main-text{
    width: 80%;
    height: 900px;
    background-color: ghostwhite;
    margin: auto;
    border-radius: 0 30px 0 30px;
}
.sec2-text{
    height: 250px;
    padding: 20px;

}
.sec2-text .img{
    float: left;
    margin-right: 20px;
}
.sec2-text h1{
    margin-top: 30px;
    margin-bottom: 10px;
}
.sec2-text p{
    margin-bottom: 10px;
}
.sec2-text i{
    color: #6d6dd7;
    font-size: 20px;
    margin-left: 5px;
}
.a{
    width: 20px;
    height: 20px;
    margin-right: 5px; 
    float: left;
}
.sec2_text{
    width: 100%;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.card1{
    width: 50%;
    height: 380px;
    padding: 20px;
}
.card1 img{
    width: 490px;
    height: 460px;
}

/* section three is start */
.section3{
    width: 100%;
    height: 280px;
    background-image: url(../imges/22.png);
    text-align: center;
    padding: 30px;
    color: white;
}
.section3 p{
    margin: auto;
    width: 60%;
    margin-top: 30px;
}
.section3 button{
    width: 150px;
    height: 40px;
    background-color: white;
    color: #6d6dd7;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 600;
}
/* section three is end */
/* section four is start */
.section4{
    width: 100%;
    height: 300vh;
}
.sec4_text{
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.sec4_text h2{
    margin-bottom: 20px;
    text-transform: uppercase;
}
.sec4_text p{
    width: 80%;
    margin: auto;
}
.sec4_contenra{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sec4-card{
    width: 48%;
    height: 240px;
    background-color: ghostwhite;
    margin-top: 10px;
    padding: 20px;
    display: flow-root;
    border-radius: 0 20px 0 20px;
    }
.section4 h2{
    text-align: center;
    margin-top: 20px;
}
.sec4-card img{
    float: left;
    margin-right: 20px;
}
.sec4-card h3{
    margin-top: 30px;
}
.sec4-card p{
    margin-top: 10px;
}

/* section four is end */
/* section five is start */
.section5{
    width: 100%;
    height: 112vh;
    text-align: center;
    padding: 20PX;
}
.section5 h1{
    text-transform: uppercase;
    color: #6d6dd7;
}
.section5 p{
    width: 70%;
    margin: auto;
}
.sec5_contenra{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.sec5-card{
    width: 48%;
    height: 440px;
    background-color: ghostwhite;
    margin-top: 10px;
    padding: 20px;
    display: flow-root;
    border-radius: 0 20px 0 20px;
    }

.sec5-card img{
    width: 300PX;
    height: 400PX;
    float: left;
    margin-right: 20px;
}
.sec5-card h3{
    margin-top: 50px;
}
.sec5-card p{
    width: 100%;
    margin-top: 10px;
    text-align: justify;
}

/* section five is end */
/* section six is start */
.section6{
    width: 100%;
    height: 400px;

}
.sec6 {
    text-align: center;
}
.sec6 h1{
    color: #6d6dd7;
    margin-bottom: 20px;
}
.sec6 p{
    margin-bottom: 20px;
}
.sec6 img{
    margin-top: 20px;
    width: 350px;
    height: 300px;
}

/* section six is end */
/* section seven is start */

.section7{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.sec_text{
    width: 70%;
    height: 150px;
    margin: auto;
    text-align: center;
}
.sec_text h1{
    color: #6d6dd7;
}
.sec_text p{
    margin-top: 20px;
}
.sec7_logo{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
/* section seven is end */
/* footer section is start */
footer{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    color: #6d6dd7;
}
.footer_logo{
    display: flex;
}
.footer_logo img{
    width: 50px;
    height: 40px;
    margin-right: 10px;
}
footer h4{
    margin-bottom: 10px;
}
footer li{
    list-style: none;
}
/* footer section is end */
